!!! html5
%html
  %head
    %meta{:charset=>'UTF-8'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'css/default.css'}
    %title
      Gyazo on Sinatra
  %body
    #container
      #header
        %h1
          Gyazo on Sinatra
      =yield
