!!! html5
%html
  %head
    %meta{:charset=>'UTF-8'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'css/default.css'}
    %title
      Gyazo mod
  %body
    #container
      #header
        %h1
          Gyazo mod
      =yield
